body {
    background-color:rgb(245, 238, 176);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-blend-mode: color;
}

.main-heading {
    justify-content:left;
    align-items:center;
    color:chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    font-weight: bold;
    display:flex;
    padding:80px;  
    
}

/* For navigation bar */
nav{
        list-style-type:none;
        margin:0;
        padding:0;
        background-color:rgb(246, 224, 139);
        padding: 10px;
        text-align: center;
}

/* Styling for navigation bar links */
nav a {
    text-decoration: none; /* Remove underlines */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    display: inline-block;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

/* Hover effect for navigation bar links */
nav a:hover {
    background-color: #555; /* Change background color on hover */
} 

/* arranging the section links in horizontal nav bar */
.flex-container {
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;  
}

/* enter info heading */
h3{
  margin-top:-100px;
  margin-left:80px;
  font-family:Arial, Helvetica, sans-serif;
}

/*continue button */
.button{
  width: 45%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
}

/* form */

.form-edit{
  display: grid;
  box-sizing: border-box;
  width:25%; 
  padding: 80px;
  margin-top: -95px;
}

.col{
  margin-top:-15px;
}

.img-home{
    display:flex;
    justify-content:right;
    margin-left:800px;
    transform: translate(-30%, -180%);
    transform:rotate(90deg);
    transform: translateY(-350px); 
}    

h4{
       display:flex;
       justify-content:center;
       margin-top:-200px;
       color:firebrick;
       font-size:50px;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       margin-left:-20px;
}

/* On screens that are 600px or less, set the background color*/
@media screen and (max-width:600px){
    body{background-color:pink;}
}